<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">E-Commerce App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories" routerLinkActive="active">Categories</a>
        </li>
      </ul>

      <!-- User Info / Auth Links -->
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="isLoggedIn; else notLoggedIn">
          <li class="nav-item">
            <span class="navbar-text me-3">
              Welcome, {{ currentUser?.firstName }}! 
            </span>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-light" (click)="logout()">Logout</button>
          </li>
        </ng-container>
        <ng-template #notLoggedIn>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>